<div>
    <h2>
        <span jhiTranslate="swarmServerApp.event.home.title">Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/', { outlets: { popup: ['event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="swarmServerApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'swarmServerApp.event.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="swarmServerApp.event.kind">Kind</span></th>
            <th><span jhiTranslate="swarmServerApp.event.detail">Detail</span></th>
            <th><span jhiTranslate="swarmServerApp.event.namespace">Namespace</span></th>
            <th><span jhiTranslate="swarmServerApp.event.type">Type</span></th>
            <th><span jhiTranslate="swarmServerApp.event.typeFullPath">Type Full Path</span></th>
            <th><span jhiTranslate="swarmServerApp.event.method">Method</span></th>
            <th><span jhiTranslate="swarmServerApp.event.methodKey">Method Key</span></th>
            <th><span jhiTranslate="swarmServerApp.event.methodSignature">Method Signature</span></th>
            <th><span jhiTranslate="swarmServerApp.event.charStar">Char Star</span></th>
            <th><span jhiTranslate="swarmServerApp.event.charEnd">Char End</span></th>
            <th><span jhiTranslate="swarmServerApp.event.lineNumber">Line Number</span></th>
            <th><span jhiTranslate="swarmServerApp.event.lineOfCode">Line Of Code</span></th>
            <th><span jhiTranslate="swarmServerApp.event.created">Created</span></th>
            <th><span jhiTranslate="swarmServerApp.event.session">Session</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['../event', event.id ]">{{event.id}}</a></td>
                <td jhiTranslate="{{'swarmServerApp.EventKind.' + event.kind}}">{{event.kind}}</td>
                <td>{{event.detail}}</td>
                <td>{{event.namespace}}</td>
                <td>{{event.type}}</td>
                <td>{{event.typeFullPath}}</td>
                <td>{{event.method}}</td>
                <td>{{event.methodKey}}</td>
                <td>{{event.methodSignature}}</td>
                <td>{{event.charStar}}</td>
                <td>{{event.charEnd}}</td>
                <td>{{event.lineNumber}}</td>
                <td>{{event.lineOfCode}}</td>
                <td>{{event.created | date:'medium'}}</td>
                <td>
                    <div *ngIf="event.session">
                        <a [routerLink]="['../session', event.session?.id ]" >{{event.session?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event', event.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
