<div>
    <h2>
        <span jhiTranslate="swarmServerApp.breakpoint.home.title">Breakpoints</span>
        <button class="btn btn-primary float-right jh-create-entity create-breakpoint" [routerLink]="['/', { outlets: { popup: ['breakpoint-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="swarmServerApp.breakpoint.home.createLabel">
            Create new Breakpoint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'swarmServerApp.breakpoint.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="breakpoints">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.kind">Kind</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.namespace">Namespace</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.type">Type</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.lineNumber">Line Number</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.lineOfCode">Line Of Code</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.created">Created</span></th>
            <th><span jhiTranslate="swarmServerApp.breakpoint.session">Session</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let breakpoint of breakpoints ;trackBy: trackId">
                <td><a [routerLink]="['../breakpoint', breakpoint.id ]">{{breakpoint.id}}</a></td>
                <td jhiTranslate="{{'swarmServerApp.BreakpointKind.' + breakpoint.kind}}">{{breakpoint.kind}}</td>
                <td>{{breakpoint.namespace}}</td>
                <td>{{breakpoint.type}}</td>
                <td>{{breakpoint.lineNumber}}</td>
                <td>{{breakpoint.lineOfCode}}</td>
                <td>{{breakpoint.created | date:'medium'}}</td>
                <td>
                    <div *ngIf="breakpoint.session">
                        <a [routerLink]="['../session', breakpoint.session?.id ]" >{{breakpoint.session?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../breakpoint', breakpoint.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'breakpoint/'+ breakpoint.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'breakpoint/'+ breakpoint.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
